$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
                (
                        "base00": $base00,
                        "base01": $base01,
                        "base02": $base02,
                        "base03": $base03,
                        "base04": $base04,
                        "base05": $base05,
                        "base06": $base06,
                        "base07": $base07,
                        "base08": $base08,
                        "base09": $base09,
                        "base0A": $base0A,
                        "base0B": $base0B,
                        "base0C": $base0C,
                        "base0D": $base0D,
                        "base0E": $base0E,
                        "base0F": $base0F,
                ),
                $theme-colors
);


@function get-text-for-color($color) {
  @if (lightness( $color ) > 60) {
    @return black;
  } @else {
    @return white;
  }
}

:root {
  @each $color, $value in $theme-colors {
    $lighter: scale-color($value, $lightness: 30%, $saturation: -30%);
    $darker: scale-color($value, $lightness: -30%, $saturation: 30%);
    $text: get-text-for-color($value);
    --#{$color}: #{$value};
    --#{$color}-lighter: #{$lighter};
    --#{$color}-darker: #{$darker};
    --#{$color}-text: #{$text};
  }

  --color: var(--base00-text);
  --background: var(--base00);
  --section: var(--base02);
  --section-body: var(--base02-lighter);
  --section-text: var(--base02-text);
  --control: var(--base03);
  --control-text: var(--base03-text);
  --control-border: var(--base03-darker);
  --control-highlight: var(--base03-lighter);

}
